.lead__caption {
    width: 158px;
    height: 14px;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    align-self: flex-start;
}
@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }    
}    
@media screen and (max-width: 424px) {
    .lead__caption {
        margin-left: 16px;
    }    
}    